{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1><b>TODO LIST</b></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
            {% csrf_token %}
                 <div class="form-group">
                     <input type="text" name="task" placeholder="Enter Name">
                 </div><br>
                 <div class="form-group">
                   <input type="text" name="priority" placeholder="Enter Priority">
                 </div><br>
                <div class="form-group">
                   <input type="date" name="date" placeholder="Enter last Date">
                 </div><br>
             <input type="submit" class="btn btn-success">
            </form>


        </div>
        <div class="col-md-6">
            <h5>TASK TO BE COMPLETED</h5>
               {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <h6 class="card-title">{{i.name}}</h6>
                    <P><b> {{i.priority}}</b></P>
                    <P><b> {{i.date}}</b></P>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>
                </div>
            </div>
            <br>
           {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>






